:root{
  /** Font sizes for use throughout the document */
  
  /* Header Font Sizes */
  --heading1FontSize: 60px;
  --heading2FontSize: 32px;
  --heading3FontSize: 26px;
  --heading4FontSize: 24px;
  --heading5FontSize: 20px;
  --heading6FontSize: 18px;

  /* Main Body Font Sizes */
  --paragraphFontSize: 16px;
  --smallerFontSize: 12px;
  --tinyFontSize: 10px;

  /* Colour Schemes for Various Areas around the website */
  --navBarTextColour: white;
  --navBarBackgroundColour: blueviolet;
  --navBarButtonTextColour: gray;
  --navBarButtonHighlightColour: black;
  --navBarButtonBackgroundColour: lightBlue;
  --navBarButtonBorderColour: black;
  --backgroundTextColour: rgba(192,192,192,0.8);
  
  /* Sizing and display properties listed below*/
  --sideColumnWidth: 15%;
  --baseDisplay: grid;
}
* {
  box-sizing: border-box;
}

/**Default font styling for various elements done below*/
body {
  display: var(--baseDisplay);
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1{
  font-size: var(--heading1FontSize);
}
h2{
  font-size: var(--heading2FontSize);
}
h3{
  font-size: var(--heading3FontSize);
}
h4{
  font-size: var(--heading4FontSize);
}
h5{
  font-size: var(--heading5FontSize);
}
h6{
  font-size: var(--heading6FontSize);
}
/*Default styling to create the background box and center all paragraphs and h3 elements located within the projects box*/
p{
  font-size: var(--paragraphFontSize);
  text-align: center;
  padding: 30px;
  margin: 30px;
  background-color: var(--backgroundTextColour);
  border: 5px solid cadetblue;
}
/*using h4 elements in most of the grids to help with the styling requirements. Sizing them to h3 so that they have the same size as the other h3 elements.*/
.projectGridStyling h4{
  font-size: var(--heading3FontSize);
  text-align: center;
  padding: 30px;
  margin: 30px;
  background-color: var(--backgroundTextColour);
  border: 5px solid cadetblue;
}
a{
  font-size: var(--paragraphFontSize);
}
/*Overriding the generic a tag so that they display smaller in the contact me section*/
.contactMe a{
  font-size: var(--smallerFontSize);
}
/*End of default styling*/
/**Header and footer styling*/
header, footer{
  width:100%;
  background-color: var(--navBarBackgroundColour);
  padding: 1%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--navBarTextColour);
  text-decoration: none;
}
/*Styling the buttons located in the header*/
.bannerLink{
  color: var(--navBarButtonTextColour);
  text-decoration: none;
  padding: 1% 3%;
  margin: 1% 5%;
  font-size: var(--heading3FontSize);
  background-color: var(--navBarButtonBackgroundColour);
  /*Border radius to curve the buttons*/
  border-radius: 50%;
  border-color: var(--navBarButtonBorderColour);
}
.bannerLink a:hover{
  color: var(--navBarButtonTextColour);
}
/**Banner and main heading styling*/
.mainBanner{
  background-image: url("/images/02-hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.mainBanner h2{
  text-align: center;
  color: black;
  padding-top: 1%;
  padding-bottom: 1%;
}
/*Inline background highlight while keeping formatting using span*/
.mainBanner h2 span{
  background-color: rgba(255, 255, 255, 0.8);
}
/*Footer text styling*/
.contact h2{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
.contact a{
  color: var(--navBarTextColour);
  text-align: center;
  padding: 3%;
}
/**Setting up each grid*/
/*Grid for about me section*/
.about{
  display:grid;
  width:auto;
  grid-template-columns: var(--sideColumnWidth) 1fr var(--sideColumnWidth);
  grid-template-areas:
  "sideColumn aboutMe aboutMeImage"
}
.about img{
  max-width: 100%;
  height: 100%;
}
/*Grid for project section*/
.projectGrid{
  display: grid;
  width: 100%;
  grid-template-columns: var(--sideColumnWidth) 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "sideColumn projectHighlight projectHighlight"
  "sideColumn project1 project2"
  "sideColumn project3 project4";
}
/*Assigning each class/id to their respective grid areas and giving proper styling.*/
.projectGridStyling{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
/*Setting individual rules per project based on the content displayed within.*/
#projectHighlight{
  grid-area: projectHighlight;
  flex-direction: row;
}
#projectHighlight h3{
  flex-direction: column;
  position: absolute;
  top: 60%;
}
#projectHighlight p{
  width:60%;
}
#project1{
  grid-area: project1;
}
#project2{
  grid-area: project2;
}
#project3{
  grid-area: project3;
}
#project4{
  grid-area: project4;
}
#aboutMe{
  grid-area: aboutMe;
}
#aboutMeImage{
  grid-area: aboutMeImage;
  background-color: darkslateblue;
}
.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projectGrid a{
  text-align: center;
  display:none;
}
.projectGrid img{
  border: 10px solid black;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  opacity: 0.5;
}
/*Highlights image on hover*/
.projectGrid img:hover{
  opacity: 1;
}
/*pointer-events: none creates consistent highlight behaviours.*/
.projectGridStyling h4{
  position: absolute;
  pointer-events: none;
}
/*Side column is given its grid area here due to being used multiple times throughout the site for the same purpose*/
.sideColumn{
  grid-area: sideColumn;
  height: 100%;
  width: 100%;
  padding-right: 10%;
  text-align: right;
  background-color: lightblue;
  border-right-style: dotted;
  border-right-color:blue;
}
/*Media query for mobile and tablet devices.*/
@media only screen and (max-width: 768px)
{
  .projectGrid{
    display:block;
  }
  .projectGridStyling{
    padding:10px;
  }
  #projectHighlight h3{
    position:relative;
    height: auto;
    text-align: right;
  }
  .projectGrid .sideColumn{
    text-align: center;
  }
}
