:root{
  /** Font sizes for use throughout the document */
  
  /* Header Font Sizes */
  --heading1FontSize: 60px;
  --heading2FontSize: 32px;
  --heading3FontSize: 26px;
  --heading4FontSize: 24px;
  --heading5FontSize: 20px;
  --heading6FontSize: 18px;

  /* Main Body Font Sizes */
  --paragraphFontSize: 16px;
  --smallerFontSize: 12px;
  --tinyFontSize: 10px;

  /* Colour Schemes for Various Areas around the website */
  --navBarTextColour: white;
  --navBarBackgroundColour: blueviolet;
  --navBarButtonTextColour: gray;
  --navBarButtonBackgroundColour: lightBlue;
  --navBarButtonBorderColour: black;
  
  /* Sizing and display properties listed below*/
  --sideColumnWidth: 20%;
  --baseDisplay: grid;
}
* {
  box-sizing: border-box;
}
/*!Remove this*/
.mainBanner img {
  width: 100%;
  max-height: 300px;
}
/**Default font styling for various elements done below*/
body {
  display: var(--baseDisplay);
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1{
  font-size: var(--heading1FontSize);
}
h2{
  font-size: var(--heading2FontSize);
}
h3{
  font-size: var(--heading3FontSize);
}
h4{
  font-size: var(--heading4FontSize);
}
h5{
  font-size: var(--heading5FontSize);
}
h6{
  font-size: var(--heading6FontSize);
}
p{
  font-size: var(--paragraphFontSize);
}
a{
  font-size: var(--paragraphFontSize);
}
/*Overriding the generic a tag so that they display smaller in the contact me section*/
.contactMe a{
  font-size: var(--smallerFontSize);
}
/*End of default styling*/
/**Header and footer styling*/
header, footer{
  width:100%;
  background-color: var(--navBarBackgroundColour);
  padding: 1%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--navBarTextColour);
  text-decoration: none;
}
/*Styling the buttons located in the header*/
.bannerLink{
  color: var(--navBarButtonTextColour);
  text-decoration: none;
  padding: 1%;
  font-size: var(--heading3FontSize);
  background-color: var(--navBarButtonBackgroundColour);
  border-radius: 30%;
  border-color: var(--navBarButtonBorderColour);
}
/**Banner and main heading styling*/
.mainBanner h2{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
/*Footer text styling*/
.contact h2{
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
.contact a{
  color: var(--navBarTextColour);
  text-align: center;
  padding: 1%;
}
/**Setting up each grid*/
/*Grid for about me section*/
.about{
  display:grid;
  width:auto;
  grid-template-columns: var(--sideColumnWidth) auto auto auto var(--sideColumnWidth);
  grid-template-areas:
  "sideColumn aboutMe aboutMe aboutMeImage ."
  "sideColumn aboutMe aboutMe aboutMeImage .";
}
/*Grid for project section*/
.projectGrid{
  display: grid;
  width: auto;
  grid-template-columns: var(--sideColumnWidth) auto auto var(--sideColumnWidth);
  grid-template-rows: auto;
  grid-template-areas: 
  "sideColumn projectHighlight projectHighlight ."
  "sideColumn project1 project2 ."
  "sideColumn project3 project4 .";
}
/*Assigning each class/id to their respective grid areas.*/
#projectHighlight{
  grid-area: projectHighlight;
  background-color: aqua;
}
#project1{
  grid-area: project1;
  background-color: bisque;
}
#project2{
  grid-area: project2;
  background-color: blueviolet;
}
#project3{
  grid-area: project3;
  background-color: chartreuse;
}
#project4{
  grid-area: project4;
  background-color: crimson;
}
#aboutMe{
  grid-area: aboutMe;
  background-color: cadetblue;
}
#aboutMeImage{
  grid-area: aboutMeImage;
  background-color: darkslateblue;
}
.projects{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.projectGrid a{
  text-align: center;
}
.projectGrid img {
  border-radius: 10%;
  border-width: 20px;
  border-color: black;
  justify-content: center;
}
/*Side column is given its grid area here due to being used multiple times throughout the site for the same purpose*/
.sideColumn{
  grid-area: sideColumn;
  height: 100%;
  width: 100%;
  padding-right: 10%;
  text-align: right;
  border-right-style: dotted;
  border-right-color:blue;
}
/*Media query for mobile devices.*/
@media only screen and (max-width: 600px)
{
  .projectGrid{
    display:block;
  }
}
